body{
    
    font-size: 50px;  /* 글자굵기 */
    color: red ; 
    text-align: center;
}


div{
    
       border:  solid blue 1px;  
   
    height: 500px;
 
}


/* 가로는 화면 전체의 
가로 세로500px 이고 
테두리 색은 블루이고
테두리 종류는 solid, 
굵기는 1px인 div를 생성하시오 */